.tab {
  display: inline-block;
  width: 100%;
  &__title {
    position: relative;
    display: inline-block;
    font-size: $font-md;
    color: $black;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    &.active,
    &:hover {
      color: $blue-denim;
      &::after {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 50%;
        transform: translateX(-50%);
        width: 35%;
        height: 2px;
        background-color: $accent-color;
      }
    }
  }
  &__content {
    display: none;
    width: 100%;
    &.active {
      display: block;
    }
  }
}
